* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin: 64px 0px 32px;
}

header {
  padding: 16px
}

main {
  padding: 16px
}

strong {
  color: green;
}

.indented-heading {
  width: fit-content;
  background-color: orange;
  padding: 16px;
  border-bottom: 6px solid darkgoldenrod;
  margin-left: -16px;
}

.separator {
    padding: 36px;
    background-color: darkgray;
    border-top: 6px solid gray;
    margin-bottom: -24px;
}
/* Add styles here! */
